# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind
# (si tu génères un output.css à partir d’un input style.css, tu peux ignorer l’input si tu veux)
*.lock
*.cache

# macOS / Windows fichiers inutiles
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.id
